<div class="education" id="education">
  <div class="block-title">Education</div>
  <div class="timeline">
    <div class="timeline-date">
      2017</div>
    <div class="timeline-content">Computer science at Ecole Hassania des Travaux Publics - EHTP</div>
    <div class="timeline-date">
      2014</div>
    <div class="timeline-content">Math/Physics Preparatory Classes at Mohamed V - CASABLANCA</div>
    <div class="timeline-date">
      2012</div>
    <div class="timeline-content">Bachelor degree, Math Science option A at Jaafar El Fassi El Fihri - CASABLANCA</div>
    <div class="timeline-date">2011</div>
  </div>
</div>
