<div class="experiences" [id]="title">
  <div class="block-title">{{title}}</div>

  @for (experience of experiences; track experience.date) {
  <div class="experience">
    <div class="experience-date" [class]="{secondary: title === 'achievements'}">
      <span>{{ experience.date }}</span>
    </div>

    @for (content of experience.contents; track content.id) {
    <div class="experience-content">
      <div class="experience-title">
        <i class="fa fa-star me-1" aria-hidden="true"></i>
        <span [innerHTML]="content.title"></span>
      </div>

      @if (content.details) {
      <div class="details">
        @if (content.more) {
        <button type="button" class="btn" [title]="moreDetails[content.id] ? 'collapse' : 'expand'"
          (click)="toggleMoreDetails(content)">
          <ng-container *ngTemplateOutlet="detailTitle; context: {content}"></ng-container>
          <i [class]="moreDetails[content.id] ? 'fa-caret-up' : 'fa-caret-down'" class="fa more"
            aria-hidden="true"></i>
        </button>
        } @else {
        <ng-container *ngTemplateOutlet="detailTitle; context: {content}"></ng-container>
        }
      </div>
      }

      @if (moreDetails[content.id]) {
      <div class="more-details" [@detailsState]>
        <span [innerHTML]="content.more"></span>
      </div>
      }

      @if (content.technologies) {
      <div class="technologies">
        <span>{{ content.technologies }}</span>
      </div>
      }
    </div>
    }
  </div>
  }
</div>

<ng-template #detailTitle let-content="content">
  <i [class]="content.class || 'fa fa-check-circle'" aria-hidden="true"></i>
  <span class="mx-1" [innerHTML]="content.details"></span>
</ng-template>
