<div class="experiences">
  <div class="title"><span [innerHTML]="'experiences_title' | translate"></span></div>

  <div class="experience" *ngFor="let experience of experiences">
    <div class="experience-date">
      <span [innerHTML]="experience.date | translate"></span>
    </div>

    <div class="experience-content" *ngFor="let content of experience.content">
      <div class="experience-title">
        <i class="fa fa-star" aria-hidden="true"></i>
        <span [innerHTML]="content.title | translate"></span>
      </div>

      <div class="details has-more" (click)="toggleMoreDetails(content.id)" *ngIf="content.more">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <span [innerHTML]="content.details | translate"></span>
        <i [ngClass]="moreDetails[content.id] ? 'fa-caret-up':'fa-caret-down'" class="fa more" aria-hidden="true"></i>
      </div>
      <div class="more-details" *ngIf="moreDetails[content.id]" [@detailsState]>
        <span [innerHTML]="content.more | translate"></span>
      </div>

      <div class="details" *ngIf="!content.more && content.details">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <span [innerHTML]="content.details | translate"></span>
      </div>

      <div class="technologies">
        <span [innerHTML]="content.technologies | translate"></span>
      </div>
    </div>
  </div>
</div>