@import '../../styles.scss';

.experiences {
  margin: 50px 0 30px;

  .experience {
    margin: 0 30px 20px;
    position: relative;

    .experience-date {
      height: 26px;
      background-color: transparentize($primary-light, 0.5);
      color: $bg;
      padding: 0 10px;
      border-left: 3px solid $bg;
      display: inline-block;
      position: relative;

      &::before {
        content: '';
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 13px solid transparentize($primary-light, 0.5);
        position: absolute;
        right: -13px;
      }

      &.secondary {
        background-color: $secondary;

        &::before {
          border-left: 13px solid $secondary;
        }
      }
    }

    .experience-content {
      padding: 10px;

      .experience-title {
        color: $bg;
        font-weight: 600;
      }

      .details {
        font-size: 14px;
        color: $primary;
        line-height: 1.5;

        .btn {
          font-size: 14px;
          color: $primary;
          text-align: left;
          --bs-btn-padding-x: 0;
          --bs-btn-padding-y: 0.25rem;
          --bs-btn-line-height: 1.5;
          --bs-border-width: 0;
        }
      }

      .more-details {
        font-size: 13px;
        background-color: transparentize($primary, 0.8);
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;
      }

      .technologies {
        font-size: 12px;
        font-style: italic;
        text-decoration: underline;
        line-height: 18px;
      }
    }
  }
}
