@import '../../styles.scss';

.about-side {
  background-color: $bg;
  color: $bg-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  position: relative;

  .social {
    font-size: 16px;
    position: absolute;
    top: 0;
    padding: 10px 0;
    margin: 0 50px;
    z-index: 2;

    a {
      color: $bg-font;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .photo {
      width: 50%;
      max-width: 350px;
      border: 5px solid $secondary;
      border-radius: 100%;
    }

    .name {
      font-size: 26px;
      font-weight: 700;
      color: $secondary;
      padding: 15px 0 0;
    }
    
    .name::before {
      height: 2px;
      background-color: $bg-font;
    }
  }

  .info {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width: calc(100% - 100px);
    margin: 0 50px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    a, .item {
      color: $bg-font;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .about-side {
    .info {
      flex-direction: column;

      .item {
        flex-direction: row;
      }

      .fa {
        padding-right: 5px;
        margin-top: 5px;
      }
    }
  }
}