<div class="about-side">
  <particles [style]="style" [width]="width" [height]="height" [params]="params">
  </particles>
  <div class="row social">
    <a href="https://www.linkedin.com/in/othmane-bentaleb-9a1b64b9" target="_blank" data-toggle="tooltip" data-placement="top"
      title="Profile LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </div>

  <div class="row intro m-0">
    <img class="photo" src="../../assets/images/Othmane_BENTALEB.jpg" alt="Othmane BENTALEB">
    <span class="name">Othmane BENTALEB</span>
    <span>Ingénieur Informatique / Développeur Full-Stack</span>
  </div>

  <div class="row info">
    <div class="item text-lg-left p-0"><i class="fa fa-birthday-cake" aria-hidden="true"></i>17-03-1995</div>
    <div class="item text-center"><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:othmane.bentaleb.95@gmail.com">othmane.bentaleb.95@gmail.com</a></div>
    <div class="item text-lg-right p-0"><i class="fa fa-map-marker" aria-hidden="true"></i>Casablanca</div>
  </div>
</div>