@import '../../styles.scss';

.about-side {
  background-color: $bg;
  color: $bg-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  position: relative;

  a {
    color: $bg-font;
    text-decoration: none;

    &:hover {
      color: $secondary;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    z-index: 2;

    .photo {
      width: 50vw;
      max-width: 300px;
      height: 50vw;
      max-height: 300px;
      border: 2px solid $bg;
      border-radius: 100%;
      box-shadow: 0 0 1px 4px $secondary;
      padding: 0;
    }

    .name {
      font-size: 26px;
      font-weight: 700;
      color: $secondary;
      padding: 15px 0 0;
    }

    .scroll-down {
      font-size: 24px;
      display: none;
    }
  }

  .info {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width: calc(100% - 100px);
    margin: 0 50px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;

      &:hover {
        color: $secondary;
      }
    }
  }
}

#particles {
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
  opacity: 0.2;
}

@media (max-height: 550px) {
  .about-side {
    .intro {
      .photo {
        width: 25vh;
        max-width: 300px;
        height: 25vh;
        max-height: 300px;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .about-side {
    .intro {
      .scroll-down {
        display: block;
        animation: bounce 2s linear infinite;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
