<div class="about-side">
  <ngx-particles id="particles" [options]="particlesOptions"></ngx-particles>

  <div class="row intro m-0">
    <img class="photo" src="assets/images/Othmane_BENTALEB.jpeg" alt="Othmane BENTALEB" />
    <span class="name">Othmane BENTALEB</span>
    <span>Software Engineer | <a href="https://www.codementor.io/@othmanebentaleb" target="_blank">
        <span class="me-1">Codementor</span><i class="fa fa-external-link"></i>
      </a>
    </span>

    <a class="scroll-down" aria-label="Scroll to Education section" href="#education">
      <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </a>
  </div>

  <div class="row info">
    <div class="item">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      Paris
    </div>

    <a class="item" href="https://www.linkedin.com/in/othmane-bentaleb/" target="_blank">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      LinkedIn
    </a>

    <a class="item" href="https://github.com/OBe95" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
      Github
    </a>
  </div>
</div>
