// Mixins
@import '../../styles.scss';

.formation {
  margin: 50px 0;

  .title {
    background-color: $bg;
    color: $secondary;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 5px 30px 5px 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;

    &:before {
      content:"";
      height: 100%;
      width: 5px;
      background-color: $secondary;
      left: 15px;  
      top: 0;
      position: absolute;
      border-right: 1px solid #eee;
    }
  }

  .timeline {
    margin: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:before {
      content:"";
      height: 100%;
      border-left: 1px solid $primary;
      left: 50%;  
      top: 0;
      position: absolute;
      z-index: -1;
    }

    .timeline-date {
      background-color: $primary;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $bg-font;
    }

    .timeline-content {
      margin: 20px 0;
      padding: 5px 0;
      background-color: $bg-font;
      border-top: 1px solid $primary;
      border-bottom: 1px solid $primary;
      width: 70%;
      text-align: center;
    }
  }
}