<div class="formation">
  <div class="title"><span [innerHTML]="'education_title' | translate"></span></div>
  <div class="timeline">
    <div class="timeline-date">
      2017</div>
    <div class="timeline-content"><span [innerHTML]="'education_ehtp' | translate"></span></div>
    <div class="timeline-date">
      2014</div>
    <div class="timeline-content"><span [innerHTML]="'education_prepa' | translate"></span></div>
    <div class="timeline-date">
      2012</div>
    <div class="timeline-content"><span [innerHTML]="'education_bac' | translate"></span></div>
    <div class="timeline-date">2011</div>
  </div>
</div>