<div class="formation">
  <div class="title">Formation</div>
  <div class="timeline">
    <div class="timeline-date">
      2017</div>
    <div class="timeline-content">École Hassania des Travaux Publics, filière Génie Informatique - Route d'El Jadida</div>
    <div class="timeline-date">
      2014</div>
    <div class="timeline-content">Classes préparatoires, option Math/Physique à Mohamed V - CASABLANCA</div>
    <div class="timeline-date">
      2012</div>
    <div class="timeline-content">Baccalauréat Sciences Math A à Jaafar El Fassi El Fihri - CASABLANCA</div>
    <div class="timeline-date">2011</div>
  </div>
</div>