<div class="realisations">
  <div class="title"><span [innerHTML]="'achievements_title' | translate"></span></div>

  <div class="realisation" *ngFor="let realisation of realisations">
    <div class="realisation-date">
      <span [innerHTML]="realisation.date | translate"></span>
    </div>

    <div class="realisation-content" *ngFor="let content of realisation.content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>
        <span [innerHTML]="content.title | translate"></span>
      </div>

      <div class="details has-more" (click)="toggleMoreDetails(content.id)" *ngIf="content.more">
        <i [ngClass]="content.class" aria-hidden="true"></i>
        <span [innerHTML]="content.details | translate"></span>
        <i [ngClass]="moreDetails[content.id] ? 'fa-caret-up':'fa-caret-down'" class="fa more" aria-hidden="true"></i>
      </div>
      <div class="more-details" *ngIf="moreDetails[content.id]" [@detailsState]>
        <span [innerHTML]="content.more | translate"></span>
      </div>

      <div class="details" *ngIf="!content.more && content.details">
        <i [ngClass]="content.class" aria-hidden="true"></i>
        <span [innerHTML]="content.details | translate"></span>
      </div>

      <div class="technologies" *ngIf="content.technologies">
        <span [innerHTML]="content.technologies | translate"></span>
      </div>
    </div>
  </div>
</div>