<div class="realisations">
  <div class="title">Réalisations</div>

  <div class="realisation">
    <div class="realisation-date">Février 2018</div>
    <div class="realisation-content">
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>Réalisation d’une application web progressive -
        EHTP Network<i class="fa fa-ellipsis-h more" aria-hidden="true" (click)="toggleMoreDetails('ehtpnetwork')"></i></div>
      <div class="more-details" *ngIf="moreDetails.ehtpnetwork">L'application permet un accès rapide, même hors ligne, aux
        profils actualisés des étudiants / lauréats de l'EHTP, après inscription, une notification est envoyée aux différents
        membres de sa promotion pour la validation du compte, une fois le compte atteint le nombre minimal de validation
        requis, il aura accès aux différentes fonctionnalitées de l'application.
      </div>
      <div class="technologies">WPA, Angular, Firebase, Firestore, Cloud Functions, Service Workers</div>
    </div>
  </div>

  <div class="realisation">
    <div class="realisation-date">Mai 2017</div>
    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Participation à la compétition de programmation - CODE IT 2ème édition</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>20,21/05/2017 - Equipe gagnante du 2ème prix de
        la Deuxième Édition de la compétition CODE IT - Solve IT, Code IT à l'EHTP</div>
      <div class="technologies">Competitive Programming, Java, Graph, Dynamic Programming</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Participation à la compétition de programmation - JNJD 11ème édition</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>13,14/05/2017 - Equipe gagnante du 3ème prix de
        la Onzième Édition de la compétition des Journées Nationales des Jeunes Développeurs à l'INPT</div>
      <div class="technologies">Competitive Programming, Java, Graph, Dynamic Programming</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Organisation de la compétition de programmation CODE IT v2.0</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>Développement d'un site web du Hassania IT Club
        pour l'organisation de la deuxième édition de CODE IT: www.hassaniait.com/codeit.</div>
      <div class="technologies">Laravel, HTML/CSS, jQuery/Javascript (Bootstrap)</div>
    </div>
  </div>

  <div class="realisation">
    <div class="realisation-date">Novembre 2016 - Janvier 2017</div>
    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Projet de développement - GFI</div>
      <div class="details"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Réalisation d'une passerelle entre JIRA
        et Redmine<i class="fa fa-ellipsis-h more" aria-hidden="true" (click)="toggleMoreDetails('jiragateway')"></i></div>
      <div class="more-details" *ngIf="moreDetails.jiragateway">En analysant les emails issus à chaque création / mise à
        jour au niveau de l'un des outils de ticketing et en utilisant les API des deux outils, l'application assure la synchronisation
        et la compatibilité des tickets crées par les clients et l'avancement fait au niveau de la GFI et offre une interface
        web pour monitorer les logs des différentes tentatives de synchronisation.
      </div>
      <div class="technologies">JEE, Spring, JIRA REST API, Redmine REST API</div>
    </div>
  </div>

  <div class="realisation">
    <div class="realisation-date">Décembre 2016</div>
    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Participation à Capgemini Coding Challenge - CCC 1ère édition</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>Gagnant du 2ème prix de la compétition avec 180
        finalistes qualifiés parmi 1455 participants de différentes universités nationales.
      </div>
      <div class="technologies">Competitive Programming, Java, Graph, Dynamic Programming</div>
    </div>
  </div>

  <div class="realisation">
    <div class="realisation-date">Octobre 2016</div>
    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Participation à Moroccan Collegiate Programming Contest - MCPC 2016</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>Classée 4ème parmi 100 équipes participantes de
        différentes universités nationales, notre équipe est qualifiée à l'Arab Collegiate Programming Contest (ACPC) à Sharam
        EL Sheikh.
      </div>
      <div class="technologies">Competitive Programming, Java, Graph, Dynamic Programming</div>
    </div>
  </div>

  <div class="realisation">
    <div class="realisation-date">Mars 2016 - Mai 2016</div>
    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Projet Java-UML - CTM</div>
      <div class="details"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Réalisation d'une application mobile pour
        l'atelier de la maintenance
        <i class="fa fa-ellipsis-h more" aria-hidden="true" (click)="toggleMoreDetails('smartgm')"></i></div>
      <div class="more-details" *ngIf="moreDetails.smartgm">Le projet consiste à la numérisation de la fiche suiveuse des
        autocars utilisée au sein de l'atelier de la maintenance de la CTM pour suivre l'avancement de la maintenance de
        chacun des autocars.
      </div>
      <div class="technologies">SQL Server 2012, Ionic, NodeJS</div>
    </div>
  </div>

  <div class="realisation">
    <div class="realisation-date">2015 - 2016</div>
    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Responsable de la cellule Communication et Médiatisation du Club Social
        EHTP
      </div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Fondateur/Vice-Président du Club Hassania IT</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>Organisation de la 1ère édition de la compétition
        de programmation CODE/IT.</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Membre de la cellule Design du Forum EHTP-Entreprises XIXème édition</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>Développement d'un site web du Hassania IT Club
        pour l'organisation de la deuxième édition de CODE IT: www.hassaniait.com/codeit.</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Participation à la JNJD à l’INPT</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>5ème place, Java</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Projet Web</div>
      <div class="details"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Rénovation et restructuration du site web
        de l'EHTP</div>
      <div class="technologies">WordPress, HTML5, CSS3, JavaScript
      </div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Participation à Google Code Jam</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>Qualification au Round1, Java</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Projet Compilation</div>
      <div class="details"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Réalisation d'un compilateur (analyse lexicale,
        syntaxique et sémantique) développé en C++
      </div>
    </div>
  </div>

  <div class="realisation">
    <div class="realisation-date">2014 - 2015</div>
    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Membre du club social EHTP</div>
      <div class="details">
        <i class="fa fa-flask" aria-hidden="true"></i>Réalisation des affiches, banderoles, flyers, rapports et réalisation
        du site web socialehtp.com.</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Evénement musical à l’EHTP</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>Au sein d'un groupe de 8 élèves ingénieurs et grâce
        à nos sponsors, nous avons mis en place une conférence, une exposition et un concert.</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Participation à la JNJD à l’INPT</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>13ème place, C</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Participation à Google Code Jam</div>
      <div class="details"><i class="fa fa-flask" aria-hidden="true"></i>Qualification au Round1, C</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Projet C</div>
      <div class="details"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Réalisation d'un jeu vidéo 2D en langage
        C avec la bibliothèque SDL.
      </div>
    </div>
  </div>

  <div class="realisation">
    <div class="realisation-date">Réalisations antérieures</div>
    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Gagnant du 1er prix de la compétition organisée à l'INPT aux élèves
        des classes préparatoires</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Fondation et administration d’un forum VBulletin</div>
      <div class="details">
        <i class="fa fa-flask" aria-hidden="true"></i>Bloggerexp est un forum en arabe dédié aux utilisateurs de la plateforme
        blogger offerte par Google.</div>
    </div>

    <div class="realisation-content">
      <div class="realisation-title">
        <i class="fa fa-star" aria-hidden="true"></i>Services design et developpement sites web via la plateforme Khamsat</div>
    </div>
  </div>
</div>