/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$grey: #333;
$orange: #ff9900;
$blue: #3399cc;
$light-grey: #eee;
@font-face {
    font-family: 'poppins';
    src: url('/src/assets/fonts/poppins-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    font-family: "poppins", sans-serif;
    letter-spacing: 0px;
}