$bg: #1d2731;
$primary: #0b3c5d;
$secondary: #d9b310;
$primary-light: #328cc1;
$bg-font: #eeeeee;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@font-face {
  font-family: 'poppins';
  src: url('/assets/fonts/poppins-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  font-family: 'poppins', sans-serif;
  letter-spacing: 0px;
  background-color: $bg-font;
  color: $bg;
}

a {
  color: $primary-light;

  &:hover {
    color: $bg;
  }
}

.block-title {
  background-color: $bg;
  color: $secondary;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding: 5px 30px 5px 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 15px;

  &::before {
    content: '';
    height: 100%;
    width: 5px;
    background-color: $secondary;
    left: 15px;
    top: 0;
    position: absolute;
    border-right: 1px solid $bg-font;
  }
}
