/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$bg: #1D2731;
$primary: #0B3C5D;
$secondary: #D9B310;
$primary-light: #328CC1;
$bg-font: #EEEEEE;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@font-face {
    font-family: 'poppins';
    src: url('/src/assets/fonts/poppins-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    font-family: "poppins", sans-serif;
    letter-spacing: 0px;
    background-color: $bg-font;
}